@import "const";
@import "mixins";

html, body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

.page {

    > .header {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        height: $big;
        background: white;
        box-shadow: $defaultShadow;
        padding: $defaultPadding;
        box-sizing: border-box;

        .panel {

            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .icon {

                margin: 0 $defaultMargin 0 0;
                cursor: pointer;

                &:hover {
                    background-position: 50%;
                    background-size: 80% 80%;
                }

            }

            .title {

                font-size: 24px;
                font-weight: bold;
                vertical-align: middle;

                .topNamespace {

                    background: none;
                    border: none;
                    font: inherit;
                    outline: 0;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    cursor: pointer;
                    @include transition($defaultTransition);

                    &::-ms-expand {
                        display: none;
                    }

                    &:hover {
                        color: $colorP2;
                    }

                }

            }

            #saveIndicator {
                float: right;
            }

        }

    }

    > .body {
        margin: $defaultMargin+$big $defaultMargin $defaultMargin $defaultMargin;
    }

}