$small: 16px;
$medium: 36px;
$big: 48px;
$huge: 64px;

$defaultMargin: 5px;
$defaultPadding: 6px;
$defaultTransitionPadding: 4px;
$defaultShadow: 0 1px 3px rgba(0, 0, 0, .4);
$defaultTransition: all .3s ease;

$colorP1: #FFF5C3;
$colorP2: #FF5656;