@import "const";
@import "mixins";

.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    width: $small;
    height: $small;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include transition(all .3s ease);
}

.medium.icon {
    width: $medium;
    height: $medium;
}

.big.icon {
    width: $big;
    height: $big;
}

.icon.public {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAgVBMVEUAAACm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14X7TPrzAAAAKnRSTlMA1j0u0koqj0UyFPTlJt46CuvMuDakIPDa0IR6d8bDs6yJfXFgVL2YWGdryPEzAAABw0lEQVRYw9WX2XaDIBBAte5L3KMmmmgSs83/f2DbQLUNRAY8pz29jwI3MDBD0L5jD4d1nvfXxvI1efzWhJGgO8uObyr4SebKDC8zYHHw470AeOTY8SsgKBtCIKiuYg0j6WV97TcwEWMCMPburISE9DTOKUIIdkC5T9+ScVbi82AD5cZdly4UOEA4PH1PgWAgt6B6/n6jgq1gvDFtGH8KO4HgTgXFq7UFCSoEKdtypmpvXtCTXpfXi7PmBTnpdeUUCCoY5gV7dhMpCY3iCXEO+ZsVkaZmXkAryZHTpFO3siCkJ0RZUFgPVvMCWopbTQxe4NteUcRx/PaKOC68r4nVTKjjPgAMkeOTlHkK9RHQVO7n71nuB1apUU6AhZ8nJUiRciq0HAOTQJJ0TApLsmEuOUnMPxfovyYIkAKbP7o1/MJRF4TknFvKAntMEzVBPrZWaoJmugLUBNulgkywBHEyueM9rCgIyNU/gKoAInJIFwqMBYKaNGHS2ePP4D8JmF7TH7XzAgFcfM0L+VUZJ4DARJZ1e+m9UCqWdfWrrcY+n9DPsoOkgHmdJoCH/xZwQYIw0TgGfBj2/Ed+0ma1LqQ2u8cr7R2alVquL2OXZgAAAABJRU5ErkJggg==');
}

.icon.private {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAY1BMVEUAAAD/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/Vlb/VlZ3HkjAAAAAIHRSTlMA1jwvSvPdtyrOFI8m5TYKwXlW66RFIMasmImEcWB9Z9JQcSQAAAGUSURBVFjD7ZfRkoMgDEWlCghWEa1W29ry/1+5O2umzBaKAWeftvf1JmcgECPZe5XL5cQ5n2ZdyCxaUhNjRXkXma+peZEYItJHYTyq0Pk5NV5xZP4R4pMJNYSn7uJk4/v2NM+TMFYHRAHsggsFNb09F8W2AWcDemRW6rmszftQ2kjvxsgWoILAy6vRg5HjjoA6RgeAK66ElWvBEs5hwAMAzdvNUYUpQe+xOlQRpjWoDeyuCAL4GjR7LAmAJQhoPYcIUlDFW/geBs6KrZ4OAqBx7j6PADwZUGNauil+dAx6fyhZ5k1zCKvJ3y7hMFGDEqu8g+Zu8KKeIXFDZ/s7YjRx6t1vcaQWp1MixZ1ejZRwxlmkyP8BUIoDlP5snUvZVMmAelzNIhVQ2j5JAnBr0ySAtnabBLjuBYjwFhDNNNiRmwagMOQXkwgwDG7pTkD+AaQC7B9Zlw4wrfy2aq8lUABDCcF91su9c2GMBpC9o40hH0roB9glFjC8AJTBy//XP0Tl1ypzCdgywAVzpbRgZFuM/HrKfwF8nAYr+sEwcQAAAABJRU5ErkJggg==');
}

.icon.menu {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAG1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACUUeIgAAAACXRSTlMAs6oPr5OSXltCBKYlAAAAQElEQVRIx2MYBVQEzIqCWIGQAVQBhyAOUABVwIZLQQBUAQsuBQ6EFCgQtIKgIwl7cxSMpqjRFDWYwWiKGgXUAwAb1S3lcH3+zQAAAABJRU5ErkJggg==');
}

.icon.back {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAbFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB0Iv+qAAAAJHRSTlMAsyYFn1Ual4ASr6d5PTgvDHJfSzSOhVtQQWxiRiIXq5SIH6o2GUaoAAABG0lEQVRYw+3TyZKDIBSF4XsQAecxGjMn/f7v2GVT1W3HIKhbvhUbKO6t+snzPG+mDYN99wG564UEwImmBMuH5pjnLCIHBUYv0sr8pDh+cdUXtt89MTqMx1v4jDGTVDktKKG1lKUw4b15mCO0RGJJfL7RZxyO4t6wQncHRnMnrBHSu+ALq3Tvy8yw0r2lfyRWa2hCYIMz/Tlji2ra0SapZYV2NWkKdomqm5YJIV7FEKYPaEfdUQyLrrm+xSwu6udWpjtadGg+9xOFEgCzddQVZJZJoCQGs5TRsgs4pebPF2QVDGRpzg4mgtx0MODkJto9w1XBoCRHEbvUSsam3tyfGepU3jER0Holy/rqkWDEA9oquOZhVQvyPM9b4RvO5w0waSUV9QAAAABJRU5ErkJggg==');
}

.icon.save {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAbFBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMO261zAAAAI3RSTlMAyPCgKIj2CFDdxAPXkBKmmW9LOuWCGQz77M+wRSF3Dy26ZlweFrYAAAHpSURBVHja7dvJcqswEIXhA9dXspiMwZjRQ9Lv/45ZJUEOMmUb0UlV/3uqPlBrR+MrXeSRUeShNum3MWbKUkU+O5zvE/Yh+S46wpne0Qq1AxzpgByp8LUUWVWOY3C8f7g/4dVO7y2N6vXk+TvG5oQlOiY06m1CkDnmr8AylfYoXnBb6vgAWKqOxnUZ7LSiyXo8mN5YfV+6nKySI6wKmu4fHmzjev4/2Rl7uPLVAXTYYFS0PsC+YIYBQGY0B4oDQMn3XSAWAHUXZgBFmhlAb5oZQH3MDKCKG0ADN6A9MgMoipkBdOYGHGJmAG25AT03IOEGtNwAEoAABCAAAQhAAE7ADg9Wb62u+Cx9DmCwVMFzACqxTJvmSUBSY4l0RE8CyAwxXi0uE5oFuFNd8FqdorlAfhOAAAQgAAEI4C8C0rKGp+oynQU0A7w2NDOACp6rZgAXeO5yH2DgPXMXEMB7gQAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAAAQjgtwEUL0DB8AIMIl5AhJwXkKPgBRQ3y24JvJdYM6hv/7Sq4bmaxqU/Fh7P8NyZRoXZj5VPVcJrpXXi+4ml16a6xvBUfK0aGrVzrP2q0FOKrAI9WnxmaKft1e+VC/eO5fd1UmkGK2v932/KRHmh8dkHJJjKLuyOW78AAAAASUVORK5CYII=');
}