.icon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    width: 18px;
    height: 18px;
}

.icon.public {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAgVBMVEUAAACm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14Wm14X7TPrzAAAAKnRSTlMA1j0u0koqj0UyFPTlJt46CuvMuDakIPDa0IR6d8bDs6yJfXFgVL2YWGdryPEzAAABw0lEQVRYw9WX2XaDIBBAte5L3KMmmmgSs83/f2DbQLUNRAY8pz29jwI3MDBD0L5jD4d1nvfXxvI1efzWhJGgO8uObyr4SebKDC8zYHHw470AeOTY8SsgKBtCIKiuYg0j6WV97TcwEWMCMPburISE9DTOKUIIdkC5T9+ScVbi82AD5cZdly4UOEA4PH1PgWAgt6B6/n6jgq1gvDFtGH8KO4HgTgXFq7UFCSoEKdtypmpvXtCTXpfXi7PmBTnpdeUUCCoY5gV7dhMpCY3iCXEO+ZsVkaZmXkAryZHTpFO3siCkJ0RZUFgPVvMCWopbTQxe4NteUcRx/PaKOC68r4nVTKjjPgAMkeOTlHkK9RHQVO7n71nuB1apUU6AhZ8nJUiRciq0HAOTQJJ0TApLsmEuOUnMPxfovyYIkAKbP7o1/MJRF4TknFvKAntMEzVBPrZWaoJmugLUBNulgkywBHEyueM9rCgIyNU/gKoAInJIFwqMBYKaNGHS2ePP4D8JmF7TH7XzAgFcfM0L+VUZJ4DARJZ1e+m9UCqWdfWrrcY+n9DPsoOkgHmdJoCH/xZwQYIw0TgGfBj2/Ed+0ma1LqQ2u8cr7R2alVquL2OXZgAAAABJRU5ErkJggg==');
    background-size: 100% 100%;
}