@import "mixins";
@import "const";

$messagesAlpha: .8;

.toast {

    > .body {

        font-size: $fontNormal;
        border-radius: $defaultPadding/2;

        &.info {
            background: rgba($colorP1, $messagesAlpha);
        }

        &.warning {

            background: rgba($colorP4, $messagesAlpha);

        }

        &.error {
            background: rgba($colorP2, $messagesAlpha);
        }

        &.done {
            background: rgba($colorP3, $messagesAlpha);
        }

    }

}