@import "../const";
@import "../mixins";

$headerIconSize: $medium;

.card {

    position: relative;
    @include transition($defaultTransition);

    &.package {

        background: $colorFront;
        cursor: pointer;

        > .head {

            > .cardIcon {
                border: 1px solid black;
                background: $colorP1;
                @include transition($defaultTransition);
            }

            > .header {
                font-size: $normal;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: $headerIconSize;
            }

        }

        &:hover {

            background: $colorP1;
            padding-left: $defaultPadding + $defaultTransitionPadding;

            > .head {
                > .cardIcon {
                    background: $colorFront;
                }
            }

        }

    }

    > .head {

        overflow: hidden;

        > .cardIcon {

            position: relative;
            float: left;
            width: $headerIconSize;
            height: $headerIconSize;
            margin-right: $defaultMargin;
            box-sizing: border-box;
            border-radius: $headerIconSize/2;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                line-height: $headerIconSize;
                width: $headerIconSize;
                text-align: center;
                font-size: $headerIconSize/1.5;
                content: ""
            }

            &.registered {
                background: #7DC3FF;
                &:before {
                    content: "R"
                }
            }

            &.persistent {
                background: #FFB85F;
                &:before {
                    content: "P"
                }
            }

            &.serial {
                background: #EFEC2E;
                &:before {
                    content: "S"
                }
            }

            &.view {
                background: #ED99FF;
                &:before {
                    content: "V"
                }
            }

            &.datatype {
                background: #96E4E2;
                &:before {
                    content: "T"
                }
            }

            &.stream {
                background: #74E8B2;
                &:before {
                    content: "s"
                }
            }

            &.donotuse {
                background: $colorP2;
                &:before {
                    content: "X"
                }
            }

        }

        .header {

            > .label {
                font-size: $normal;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: $headerIconSize;
            }

        }

    }

    > .section {

        position: relative;

        > .header {

            font-size: 18px;
            color: gray;
            font-weight: bold;
            text-decoration: underline;
            overflow: hidden;
            @include transition($defaultTransition);

            > .controls {

                float: right;
                display: inline-block;
                opacity: 0;
                @include transition($defaultTransition);

                > .icon {

                    margin: 0 2px 0 0;
                    vertical-align: top;

                }

                > form {

                    display: inline-block;
                    vertical-align: top;

                    > input {
                        vertical-align: top;
                        @include transition($defaultTransition);
                    }

                }

            }

            &:hover {

                padding-left: $defaultTransitionPadding;
                background: $colorP1;
                border-radius: $defaultPadding/2;

                > .controls {
                    opacity: 1;
                }

            }

        }

        > .body {



        }

    }

    .item {

        > .header {

            position: relative;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
            cursor: pointer;
            @include transition($defaultTransition);

            > .icons {
                display: inline-block;
            }

            > .controls {

                float: right;
                display: inline-block;

                > .icon {

                    margin: 0 2px 0 0;
                    vertical-align: top;

                }

                > .icon.add {

                    padding-top: $normal;

                }

            }

            &:hover {

                padding-left: $defaultTransitionPadding;
                background: $colorP1;
                border-radius: $defaultPadding/2;

                .name {
                    text-decoration: underline;
                }

            }

            .type {

                @include transition($defaultTransition);

                &:hover {
                    color: $colorP2;
                }

            }

        }

        > .detailed {

            .comment {
                color: gray;
                font-size: x-small;
            }

            .property-block {

                position: relative;
                font-size: $fontLittle;
                cursor: default;
                border-radius: $defaultPadding/2;
                @include transition($defaultTransition);

                .name-block {

                    box-sizing: border-box;
                    padding-left: $defaultPadding/2;
                    float: left;
                    width: 50%;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.required {
                        text-decoration: underline;
                    }

                }

                .value-block {

                    position: relative;
                    margin-left: 50%;
                    width: 50%;
                    text-align: right;

                    input {

                        vertical-align: middle;
                        background: none;
                        margin: 0 auto;
                        box-sizing: border-box;
                        font: inherit;

                        &[type=text] {
                            width: 100%;
                        }

                    }

                }

            }

        }

    }

}