@import "../const";
@import "../mixins";

$headerIconWidth: 32px;

.card {

    position: relative;
    @include transition(all .3s ease);

    &.package {

        background: #f4efff;
        cursor: pointer;

        &:hover {
            background: #e4ccff;
            left: -2px;
            top: -2px;
            padding: $defaultPadding + 2px;
        }

        > .head {
            > .cardIcon {
                border: 1px solid black;
            }
        }

    }

    > .head {

        overflow: hidden;

        > .cardIcon {

            position: relative;
            float: left;
            width: $headerIconWidth;
            height: $headerIconWidth;
            margin-right: $defaultMargin;
            box-sizing: border-box;
            border-radius: $headerIconWidth/2;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                line-height: $headerIconWidth;
                width: $headerIconWidth;
                text-align: center;
                font-size: $headerIconWidth/1.5;
                content: ""
            }

            &.registered {
                background: #08f;
                &:before {
                    content: "R"
                }
            }

            &.persistent {
                background: #f90;
                &:before {
                    content: "P"
                }
            }

            &.serial {
                background: #df0;
                &:before {
                    content: "S"
                }
            }

            &.view {
                background: #e6f;
                &:before {
                    content: "V"
                }
            }

            &.datatype {
                background: #7cf;
                &:before {
                    content: "T"
                }
            }

            &.stream {
                background: #0f8;
                &:before {
                    content: "s"
                }
            }

            &.donotuse {
                background: #f00;
                &:before {
                    content: "X"
                }
            }

        }

        > .header {

            margin-left: $defaultMargin + $headerIconWidth;
            font-size: 24px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }

    }

    > .section {

        position: relative;

        > .header {
            font-size: 18px;
            color: gray;
            font-weight: bold;
            text-decoration: underline;
        }

        > .body {

            > .item {

            }

        }

    }

}