@import "../mixins";
@import "../const";

.formalSpecEdit {

    &:before {
        content: "("
    }

    &:after {
        content: ")";
    }

    .argument {

        .nameInput {

        }

        .asSpan, .defSpan {
            white-space: pre;
            color: $colorTextSecondary;
        }

        .parametersSpan {

            &:before {
                content: "(";
            }

            &:after {
                content: ")";
            }

            .parameter + .parameter:before {
                content: ", ";
            }

        }

    }

    .argument + .argument:before {
        content: ", ";
    }


}