@import "../mixins";
@import "../const";

.card {
    background: #fff;
    margin: $defaultMargin/2;
    padding: $defaultPadding;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.AutoGrid-container {
    @include transition(left .3s ease, top .3s ease);
}